html {
  font-family: 'RobotoDraft', Roboto, 'Helvetica Neue', sans-serif;
}

[layout=row] {
  flex-direction: row;
}

.ng-scope {
  height: 100%;
}

.md-sidenav-left .md-button {
  display: block;
  margin: 1em;
  line-height: 30px;
}

.inlineCheckbox {
  display: inline;
}

.sm-agentType {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.sm-agentName {
  font-size: 8pt;
  margin: 0px;
}
