html {
  font-family: 'RobotoDraft', Roboto, 'Helvetica Neue', sans-serif;
}

[layout=row] {
  flex-direction: row;
}

.ng-scope {
  height: 100%;
}

.md-sidenav-left .md-button {
  display: block;
  margin: 1em;
  line-height: 30px; }
