<md-sidenav class="md-sidenav-left md-whiteframe-z2 md-locked-open"
            md-component-id="left"
            md-is-locked-open="$media('gt-sm')"
            layout="column" style="margin-right: 20px" flex="33" >
  <md-toolbar >
    <h1 class="md-toolbar-tools md-theme-default">Zerg Horde</h1>
  </md-toolbar>
  <md-content class="md-padding md-whiteframe-z2" ng-controller="LeftCtrl">
    <md-button class="md-raised md-primary" ng-show="!start" ng-Click="run()">Start Horde</md-button>
    <md-button class="md-raised md-warn" ng-show="start" ng-Click="stop()">Stop Horde</md-button>

    <p>Num Agents: {{agents.length}}</p>

    <md-content>
      <md-card ng-repeat="agent in agents track by agent.name">
        <md-card-content>
          {{$index + 1}}.
          <md-checkbox ng-model="agentSelection[$index]" class="inlineCheckbox">
            <p class="sm-agentType">{{agent.agentType}} {{agent.unitId}}</p>
          </md-checkbox>
          <p class="sm-agentName">{{agent.name}}</p>
        </md-card-content>
      </md-card>
    </md-content>
  </md-content>


</md-sidenav>
