<md-sidenav class="md-sidenav-left md-whiteframe-z2 md-locked-open"
            md-component-id="left"
            md-is-locked-open="$media('gt-sm')"
            layout="column" style="margin-right: 20px" flex="33" >
  <md-toolbar >
    <h1 class="md-toolbar-tools md-theme-default">Zerg Horde</h1>
  </md-toolbar>
  <md-content class="md-padding md-whiteframe-z2" ng-controller="LeftCtrl">
    <md-button class="md-raised md-primary" ng-show="!start" >Start Horde</md-button>
    <md-button class="md-raised md-warn" ng-show="start" >Stop Horde</md-button>
  </md-content>

  <md-card ng-repeat="agent in agents">
    <div>
      <h3>{{agent.type}}</h3>
      <p>{{agent.name}}</p>
    </div>
  </md-card>
</md-sidenav>
